@import "tailwindcss";

@font-face {
  font-family: "font1";
  src: url("/fonts/Lausanne-300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "font2";
  src: url("/fonts/Lausanne-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@layer base {
  ::selection {
    @apply bg-[#d3fd50] text-black;
  }
}

body {
  background-color: white;
  overflow-x: hidden;
}

.HomeVideo {
  border-radius: 50px;
}

.moveLink {
  opacity: 0;
  height: 0;
  transition: opacity 0.3s ease, height 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link:hover .moveLink {
  opacity: 1;
  height: 100%;
}

.moveX {
  animation: moveAnimation 10s linear infinite;
}

@keyframes moveAnimation {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}